$offset: 187;
$duration: 1.4s;

.overlaySpinner{
  //position: fixed;
  z-index: 999;
  height: 150px;
  //width: 100%;
  //overflow: show;
  //background-color: rgba(0,0,0,0.3);  
  //margin: auto;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
}

.spinnerBox {
  // top: 50%;
  left: 50%;
  position: fixed;
  // margin-top: -30px;
  // margin-left: -30px;
}

.in-button{
  margin-left: 10px;
  position: static;
  float: right;
}

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}