<!--{{diagnostic}}-->
<div class="container space">
  <h4 style="font-style: italic; margin-bottom:30px"> 
    Thank you for visiting www.myoutdoorcinema.com.au <br>
    We are keen to make this website as user-friendly and as useful as possible. <br>
    <br>
    If you discover any errors or bugs please, let us know. <br> 
    Or if you have any suggestions on how to make the site better, we would love to hear your ideas! <br>
    <br>
    Please send us an email at: <i>info@myoutdoorcinema.com.au </i> or contact us via the form below or on our Facebook <a href='https://www.facebook.com/myoutdoorcinemacomau-1820667381503058/' target="_blank">page</a>  <br>
    <br>
    Have a great summer! <br>
    MyOutdoorCinema Team
  </h4>
  <form name="fkForm" (ngSubmit)="onSubmit()" role="form" #fkForm="ngForm" *ngIf="active">
    
    <div class="form-group">
      <label for="fkInputEmail">Email address</label>
      <input type="email" class="form-control" required
         [(ngModel)]="model.email"
         name="fkInputEmail"  
         #fkInputEmail="ngModel" 
         placeholder="Enter your email"
         [disabled]="submitted"
         validateEmail>
      
      <div [hidden]="fkInputEmail.valid || fkInputEmail.pristine || fkInputEmail.disabled " class="alert alert-danger">
          A valid email is required
      </div>
    </div>
    
    <div class="form-group">
      <label for="fkText">Enter your feedback</label>
      <textarea class="form-control" rows="3" id="fkText" 
      [(ngModel)]="model.text"
      name="fkText" 
      #fkText="ngModel" 
      placeholder="Enter your feedback"
      [disabled]="submitted">
      </textarea>
      <!-- <p class="help-block">Example block-level help text here.</p> -->
    </div>
    <alert *ngIf="successSend" dismissOnTimeout="10000" [type]='"success"' dismissible="true" (close)='resetAlert()'>Thank you for your feedback</alert>
    <alert *ngIf="errorSend" dismissOnTimeout="15000" [type]='"danger"' dismissible="true" (close)='resetAlert()'>Oups something went wrong. Please try again.</alert>
    
    <div style="height:35px">
      <button *ngIf="!submitted" type="submit" class="btn btn-primary2" [disabled]="!fkForm.form.valid" style="vertical-align: top">Send</button> 
      <div *ngIf="submitted" class="btn btn-primary2">
        <spinner [isHidding]="!submitted" [boxSize]="20" [text]='"Sending..."' style="display:block"></spinner>
      </div>
    </div>
  </form>
  

  
</div>


<!--<div class="container">
  <div  [hidden]="submitted">
    <h1>Hero Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.name"
            ngControl="name"  #name="ngForm" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control"
          [(ngModel)]="model.alterEgo"
            ngControl="alterEgo" >
      </div>
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" required
          [(ngModel)]="model.power"
            ngControl="power" #power="ngForm" >
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>-->
