@import '../../css/_sassBase';

.sebm-google-map-container {
      height: 300px;
    }

.venues {
   list-style-type: none; 
   //margin-left: 1em; 
   padding: 0; 
}


.venues li { 
   cursor: pointer; 
   position: relative; 
   left: 0; 
   transition: all 0.2s ease;     
   border-color: gray;
   border-width: 1px;
   border-style: solid;
   padding: 1em 1em 1em 1em;
   margin-bottom: 1.5em;
   text-align: center;
   
   &:hover {
      color: $purple; 
      border-color: $purple;
      border-left-width: 4px;
      background-color: $purple-light; 
      left: .2em;
   };
   

   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
   box-shadow: 0 10px 6px -6px #777;
 
}

.venues .badge {
   font-size: small;
   color: white;
   padding: 0.1em 0.7em;
   background-color: #369;
   line-height: 1em;
   position: relative;
   left: -1px;
   top: -1px;
}

.selected { 
   background-color: #EEE; 
   color: $purple; 
}

.venue-title {
   font-weight: bold; 
   font-size:1.2em; 
   color:$purple;
}
