<div class="container">

   <div>
      <div class="row" style="padding-top: 80px;">
         <spinner [isHidding]="venues"> </spinner>
         <div class="col-xs-12" *ngIf='venues'>

            <!--Body content-->
            <ul class="venues">
               <li *ngFor="let venue of venues" (click)="gotoDetail(venue)" class="col-sm-6">
                  <div>
                     <p class="venue-title">{{venue.cinema}}</p>
                     <p>{{venue.suburb}}</p>
                  </div>
               </li>
            </ul>

         </div>
      </div>

      <sebm-google-map [latitude]="mapCenterLat" [longitude]="mapCenterLong" [zoom]="9" [disableDefaultUI]="true" [zoomControl]="true"
         (mapClick)="mapClicked($event)">

         <sebm-google-map-marker *ngFor="let m of venues; let i = index" [latitude]="m.latitude" [longitude]="m.longitude" [label]="m.label"
            [markerDraggable]="false">

            <sebm-google-map-info-window>
               <strong>{{m.cinema}} {{m.suburb}}</strong> <br>
               <button class="btn btn-primary2 btn-xs" (click)="gotoDetail(m)"> details</button>
            </sebm-google-map-info-window>

         </sebm-google-map-marker>

      </sebm-google-map>

   </div>
   
</div>