<div class="container space">

  <spinner [isHidding]="venue"> </spinner>
  <div *ngIf='venue'>
    <h1>{{venue.cinema}}, {{venue.suburb}} </h1>

    <p>{{venue.description}}</p>

    <p> <span class="cat"> Address: </span>{{venue.address}}</p>

    <p><a class="btn btn-primary2 btn-md" [attr.href]='venue.urlVenue' target="_blank" role="button">Go to Venue Website</a></p>

    <sebm-google-map 
      [latitude]="venue.latitude" 
      [longitude]="venue.longitude"
    
      [zoom]="11"
      [disableDefaultUI]="true"
      [zoomControl]="false"
      [scrollwheel]="false"
      >
    
      <sebm-google-map-marker 
          [latitude]="venue.latitude"
          [longitude]="venue.longitude"
          [label]='"A"'
          >       
      </sebm-google-map-marker>
    
    </sebm-google-map>

    <br>
    <h3>Now Showing at this venue:</h3>
    <show-list [shows]="shows" [isLoaded]="shows" [noResultsText]='"No shows found"' [showDate]="true" ></show-list>

    </div>
</div>
