<spinner [isHidding]="isLoaded"> </spinner>

<ul class="shows row" *ngIf="isLoaded && !reduceTpl">
  <li *ngFor="let show of shows" (click)="gotoDetail(show)" class="shadowbox col-md-6">
    <div *ngIf="showDate" class="showDate"> {{show.startDay_Date | date: "fullDate" }} </div>
    <img src="{{show.movieId.img || 'assets/movie.jpg'}}" class="img-thumbnail img-position" style="">
    <div style="text-align:left;" class="">
      <span class="movie-title" style="">{{show.movieId.movieTitle | uppercase }} </span>
      <p *ngIf="!showDate">{{show.venue.cinema}} {{show.venue.suburb}} </p>
      <p>Movie starts: {{show.movieStart}} </p>
      <p class="runTime">{{show.movieId.Runtime}} <span *ngIf="show.movieId.parentalRating">({{show.movieId.parentalRating}}) </span> <br> {{show.movieId.Genre}}</p>
    </div>
  </li>
</ul>
<ul class="shows row" *ngIf="isLoaded && reduceTpl">
  <li *ngFor="let show of shows" (click)="gotoDetail(show)" class="shadowbox">
    <div class="showDate"> {{show.startDay_Date | date: "fullDate" }} </div>
    <p>{{show?.venue.cinema}} {{show?.venue.suburb}} </p>
    <p>Movie starts: {{show.movieStart}} </p>
  </li>
</ul>

<alert *ngIf="isLoaded && shows.length == 0" [type]='"info"' style="font-weight: 600;"> {{ noResultsText}} </alert>

<div *ngIf="isLoaded && showsComingUp.length > 0 && dateCheck" class="row" >
  <hr>
  <div class="col-xs-12" style="">
    <h4> Coming up: </h4>
  </div>
  <ul class="shows">
    <li *ngFor="let show of showsComingUp" (click)="gotoDetail(show)" class="shadowbox col-md-6">
      <div class="showDate"> {{show.startDay_Date | date: "fullDate" }} </div>
      <img src="{{show.movieId.img || 'assets/movie.jpg'}}" class="img-thumbnail img-position" style="">
      <div style="text-align:left;" class="">
        <span class="movie-title" style="">{{show.movieId.movieTitle | uppercase }} </span>
        <p *ngIf="!showDate">{{show.venue.cinema}} {{show.venue.suburb}} </p>
        <p>Movie starts: {{show.movieStart}} </p>
        <p class="runTime">{{show.movieId.Runtime}} <span *ngIf="show.movieId.parentalRating">({{show.movieId.parentalRating}}) </span> <br> {{show.movieId.Genre}}</p>
      </div>
    </li>
  </ul>
</div>

<alert *ngIf="isLoaded && dateCheck" [type]='"info"' style="font-weight: 600;">
  Not all the cinemas have published their programs yet. Please come back later for further info. Thank you and Stay tuned! 
</alert>
