<div class="container" style="margin-top:80px;">
  <spinner [isHidding]="show"> </spinner>
  
  <div *ngIf='show'>
    <div class="row" style="border: 1px grey;border-style: solid; padding:10px">
      <div class='col-sm-8 col-xs-12'>
        <p> <span style="font-size:1.5em; color:#83207d"> {{show.venue.cinema}}  </span> ({{show.venue.suburb}})
        </p>

        <p> Movie Start: {{show.movieStart}} - Gates Open at: {{show.gateOpen}}</p>
        <p> Address: {{show.venue.address}}</p>
        <!--<p><a class="btn btn-primary btn-md" [routerLink]="['VenueList']" role="button">More Venue Details</a></p>-->
        <p><button class="btn btn-primary2" role="button" (click)='goToVenueDetail(show.venue.venueRef)'>More Venue Details</button></p>
      </div>
      <div class='col-sm-4 col-xs-12'>
        <div class='row'>
          <div class='col-xs-12' *ngIf="remindMeBool" style="padding-top: 10px;">
            <button *ngIf="!hasReminder && !submitted" class="btn btn-info" style="" (click)="addReminder(1)"> Send me a reminder <br> email 1 day prior</button>           
            <button *ngIf="hasReminder && !submitted" class="btn btn-primary2" style="" (click)="removeReminder()"> Remove email reminder</button>

            <div *ngIf="submitted" class="btn btn-primary2">
              <spinner [isHidding]="!submitted" [boxSize]="20" [text]='"updating profile"' style="display:block" inButton="true"></spinner>
            </div>


          </div>

          <div class="col-xs-12" style="height:50px;font-size:2em; margin-top: 20px">
            <i style="font-size:.6em;">Share this show!</i>
            <social-share [shareSquare]="true" [shareLinks]='"Facebook, Twitter, Google-Plus, Envelope"'
              [shareTitle]='"My Outdoor Cinema"' style="display:inline-block;">
            </social-share>
          </div>
 
        </div>


      </div>
    </div>

    <!--<div class="row">
      
    </div>-->



    <movie-detail [inputMovieRef]='show.movieId.movieRef' [listShows]='false'> </movie-detail>

  </div>
</div>