<!--<h1>{{title}}</h1>-->

<div class="container-fluid" style='background-image:url("assets/ns-001.png"); padding-top: 30px; padding-bottom: 30px; background-size:cover;'>
   <div class="container">
      <div class="container brand-main"> 
         <img class="imgbrand-main center-block" alt="M.O.C." src="./assets/icons/MyOutdoorCinema_c_H150.png"> 
         <div class="titlebrand-main"> <span class="titlebrand-main_span" style=""> All your outdoor cinema programming for Perth, WA in one easy to search website! </span> </div> 
      </div>
      <div class="row extra-pad">
         <div class="row">

            <div class="col-xs-6" style="text-align: center;">
               <button type="button" class="btn btn-lg btn-primary2" style="width: 100%;" (click)="today()">Tonight</button>
            </div>

            <div class="col-xs-6" style="text-align: center;">
               <button type="button" class="btn btn-lg btn-primary2" style="width: 100%;" (click)="tomorrow()">Tomorrow</button>
            </div>

            <div class="col-xs-4" style="margin-top:15px; text-align: center;">
               <button type="button" class="btn btn-lg btn-info2" style="width: 100%;" (click)="prevDay()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
            </div>

            <!-- DATE PICKER -->
            <div class="col-xs-4" style="margin-top:15px; text-align: center;">
               <button type="button" class="btn btn-default btn-lg" (click)='datepickerOpen = !datepickerOpen'><i class="fa fa-calendar" aria-hidden="true"></i></button>
               <!--[class.display-none]="datepickerOpen"-->
            </div>

            <!-- Chevron -->
            <div class="col-xs-4" style="margin-top:15px; text-align: center;">
               <button type="button" class="btn btn-lg btn-info2" style="width: 100%" (click)="nextDay()"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
            </div>
         </div>   
      
         <div class="row">
            <div style="text-align: center; margin-top: .5em;">
               <div [class.display-none]="!datepickerOpen" style="width: 270px; background-color: white; margin: auto">
                  <datepicker [(ngModel)]="day" (ngModelChange)="dayChanged($event)" [minDate]="minDate" [showWeeks]="false"> </datepicker>
                  <button type="button" class="btn btn-info btn-sm" style="margin-right: 50px;" (click)="today()"> Today</button>
                  <button type="button" class="btn btn-warning btn-sm" (click)="closeDatepicker()"> Close</button>
               </div>
            </div>
         </div>

         <div class="row" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-3" >
               <label class="label-extra" > </label>
            </div>
            <div class="col-xs-8 col-sm-6" style="padding-right: 0px;">
               <select class="form-control" [(ngModel)]='selectedVenue' (ngModelChange)="venueSelected($event)">
                  <option [ngValue]="v" *ngFor="let v of venuesOption"> {{v.cinema}} {{v.suburb}} </option>
               </select>
            </div>   
            <div class="col-xs-4 col-sm-3" style="padding-left: 0px;">
               <button class="btn btn-default " style="height: 34px; font-weight: 200;" (click)="clearVenue()" role="button">
               any
               </button>
            </div>
         </div>
      </div>
   </div>
</div>   
<div class="container">
   <div class="row" style="padding-top:20px;">
      <div class="col-xs-2" style=""></div>

      <div class="col-xs-12" style="">
         <h4>Showing on <em>{{day | date: "fullDate"}}</em></h4>
         <show-list [shows]="filteredShows" 
                    [isLoaded]="shows" 
                    [noResultsText]='"No results found. Select another date or venue"'
                    [showsComingUp] = "showsComingUp" ></show-list>

         <!--<goAdsense *ngIf="shows" [adClient]='"ca-pub-7004086848973531"' 
            [adSlot]='"5584002404"' 
            [inlineStyle]="" 
            [adFormat]='"auto"' style="">
         </goAdsense>-->

      </div>
   </div>
</div>    
