@import '../../css/_sassBase';

// .btnPrimary2 {
//     color: white;
//     background-color: $purple;
//     border-color: $purple;
    
//     &:hover{color: #fff;
//       background-color: #5a1656;
//       border-color: #3d0f3b;
//     }
// }