@import '../../css/_sassBase';

   .brand-main{

      @media(max-width: $md){
         .titlebrand-main, .imgbrand-main {
            display: none;
         }
         margin-top:50px
      }
      
      .imgbrand-main{
         // margin: 10px 10px 10px 0px;
         // float: left;
         // height: 85px;
      }

      .titlebrand-main{
         // height: 85px;
         // text-align: center;
         // display: -webkit-box;
         // display: -webkit-flex;
         // display: -moz-box;
         // display: -ms-flexbox;
         // display: flex;
         // -webkit-flex-align: center;
         // -ms-flex-align: center;
         // -webkit-align-items: center;
         // align-items: center;
         text-align: center;
         color: white;
         margin-bottom: 30px;
         font-size: 20px;
         font-style: italic;

      }
      .titlebrand-main_span{
         // padding-top: 10px;
         // padding-left: 5px;
         // padding-right: 5px;

         // font-weight: bold; 
         // font-size:1.5em; 
         // color:#83207d;
      }
      

   }

   .extra-pad{
      @media(min-width: $md){
         padding-right: 15px;
         padding-left: 15px;
      }
   }

.label-extra{
   line-height: 34px;
   text-align: right;
}
