@import '../../css/_sassBase';

.shows {
   list-style-type: none; 
   //margin-left: 1em; 
   padding: 0; 
}

.shows li { 
   cursor: pointer; 
   position: relative; 
   left: 0; 
   transition: all 0.2s ease;     
   border-color: gray;
   border-width: 1px;
   border-style: solid;
   padding: 1em 1em 1em 1em;
   margin-bottom: 1.5em;
   min-height: 188px;
   
   &:hover {
      color: $purple; 
      border-color: $purple;
      border-left-width: 4px;
      background-color: $purple-light; 
      left: .2em;
   };
   

   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
   box-shadow: 0 10px 6px -6px #777;
 
}

.shows .badge {
   font-size: small;
   color: white;
   padding: 0.1em 0.7em;
   background-color: #369;
   line-height: 1em;
   position: relative;
   left: -1px;
   top: -1px;
}

.showDate {
   font-weight: bold; 
   font-size:1.2em; 
   color:black; 
   font-style: italic; 
   padding-bottom:5px;
}

.movie-title {
   font-weight: bold; 
   font-size:1.2em; 
   color:$purple;
}

.runTime{
   font-style:italic
}

.selected { 
   background-color: #EEE; 
   color: $purple; 
}

.img-position {
    max-height: 120px; 
    width: 80px; 
    vertical-align: top; 
    float: left;
    margin-right: 5px;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
