<!--<h1>{{title}}</h1>-->
<nav class="navbar navbar-inverse navbar-fixed-top detached" [ngClass]="{navTransparent: isShow_isAtTheTop}" role="navigation" style="margin-bottom: 0">
   <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display  -->
        <div class="navbar-header navHead">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse"> -->
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-brand" (click)="isCollapsed=true" [routerLink]="['/shows']"> <img class="imgBrand" alt="M.O.C." src="./assets/icons/MyOutdoorCinema_c_r.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <div [class.collapse]="isCollapsed" class="navbar-collapse nav-bar-cust" >
            <ul class="nav navbar-nav">
                <li   routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'><a [routerLink]="['/shows']">Shows</a></li>
                <li   routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'><a [routerLink]="['/venues']">Venues</a></li>
                <li   routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'><a [routerLink]="['/movies']">Movies</a></li>
                <li   routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'><a [routerLink]="['/feedback']">Contact Us</a></li>
            </ul>
            <ul *ngIf="!isAuthenticated" class="nav navbar-nav navbar-right">
                <li routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'>
                  <!--<a [routerLink]="['/login']">Login</a>-->
                  <a class="" (click)="c.show()">Login</a>
                  </li>
            </ul>
            <ul *ngIf="isAuthenticated" class="nav navbar-nav navbar-right">
                <li routerLinkActive="actived" (click)='isCollapsed = !isCollapsed'><a [routerLink]="['/profile']">Me</a></li>
                <li routerLinkActive="actived" (click)='signout()'><a> Logout</a></li>
            </ul> 
        </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
</nav>



<router-outlet></router-outlet>


<login-modal #c="child"></login-modal>

<!--<ng2-adsense [adClient]="'ca-pub-7004086848973531'" [adSlot]="5564204807"></ng2-adsense>-->


<!-- Footer-->
<footer class="footer-wrap" role="contentinfo">
    <div class="container-fluid">
        <span> Share Me!</span>
        
        <social-share style="height:50px; font-size:3em;text-align: center; color: purple" 
                [shareSquare]="true" 
                [shareLinks]='"Facebook, Twitter, Google-Plus"'
                [shareTitle]='"My Outdoor Cinema"' 
                [customUrl]='"http://www.myoutdoorcinema.com.au/"' >
        </social-share>
        
        <p></p>
        <p></p>

        <p class="footer-links"> 
            <a [routerLink]="['/info/aboutus']">About Us </a> <span class="footer-link"> | </span> 
            <a [routerLink]="['/info/disclaimer']"> Disclaimer</a> <span class="footer-link"> | </span> 
            <a [routerLink]="['/info/privacypolicy']"> Privacy Policy</a> 
        </p>

        <button class="btn btn-primary2" (click)="openCheckout()"  style="margin-bottom: 20px;">Donate</button>

        <p style="font-style: italic"> Thank you for visiting My Outdoor Cinema. <br> All your outdoor cinema programming for Perth, WA in one easy to search website!</p>
        <p>Copyright: MyOutdoorCinema </p>
    </div>
</footer>


    