/* app SASS stylesheet */
@import '../css/_sassBase';

/*Navigation Bar*/
  .nav-brand{
    @media(min-width: $md){
        display: none;
    }
    @media(max-width: $md){
        margin: -15px;
        height: 50px;
    }
  }
  .nav-bar-cust{
    @media(min-width: $md){
        padding-left:0px;
    }
  }

  .navbar-nav>li>a {
    @media(min-width: $md){
        color: white;

    }
    &:hover, &:focus{
        background-color: inherit;         
        font-size: 20;
        border-bottom:3px solid $purple
    }
  }
  .actived { 
    background-color: $purple;
    color: white; 
    a {
        color: white;
        &:hover, &:focus{
          color: white;
          // font-size: 20;
          border-bottom:3px solid $purple
        }
    }

  }

  // .detached{
  //   @media(min-width: $md){
  //       margin-bottom: 0; 
  //       background-color: rgba(131, 32, 125, .5);
  //       // background: -moz-linear-gradient(top,rgba(131, 32, 125, 0.3) 0%,rgba(131, 32, 125, 0) 100%);
  //       // background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  //       // background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  //       //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000',endColorstr='#00000000',GradientType=0 );
  //       box-shadow: none;
  //       border: none;
  //       border-bottom: $purple;
  //       margin-bottom: 25px;
  //       z-index: 10;
  //   }
  //   // @media(max-width:$md){
  //   //   background-color: #f8f8f8;
  //   //   border-color: #e7e7e7;
  //   //   .navbar-toggle {
  //   //       border-color: #ddd;
  //   //   }
  //   //   .navbar-toggle .icon-bar {
  //   //     background-color: #888;
  //   //   }
  //   // }
  // }

  .navbar-inverse{
    @media(min-width: $md){
        margin-bottom: 0; 
        background-color: rgba(131, 32, 125, .5);
        // background: -moz-linear-gradient(top,rgba(131, 32, 125, 0.3) 0%,rgba(131, 32, 125, 0) 100%);
        // background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        // background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000',endColorstr='#00000000',GradientType=0 );
        box-shadow: none;
        border: none;
        border-bottom: $purple;
        margin-bottom: 25px;
        //z-index: 10;
        
        background-image: none;
        
        background-repeat: none;

    }
    // @media(max-width:$md){
    //   background-color: #f8f8f8;
    //   border-color: #e7e7e7;
    //   .navbar-toggle {
    //       border-color: #ddd;
    //   }
    //   .navbar-toggle .icon-bar {
    //     background-color: #888;
    //   }
    // }
  }

  .navTransparent{
    @media(min-width: $md){
        margin-bottom: 0; 
        background-color: transparent;
        background: -moz-linear-gradient(top,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000',endColorstr='#00000000',GradientType=0 );
        box-shadow: none;
        border: none;
        margin-bottom: 25px;
        z-index: 10;
    }

  }

//
// Brand //
   .imgBrand{
      height: 50px;
      @media(min-width: $md){
         margin: -15px 0px;
      }
      @media(max-width: $md){
         padding: 2px;
         margin-left: 15px;
      }
   }
//

/*Footer*/
   .footer-wrap {
      background-color: black;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-top: 100px;
      color: #777;
      text-align: center;
      border-top: 1px solid #e5e5e5;
      //background-color: #777;
   }
   
   .footer-links{
      margin-top:30px;margin-bottom:30px;
      
      a {
         color: $purple;
      }
   }

   .footer-link{
      margin-left:10px; 
      margin-right:10px;
   }

//////


// .btn {
//   font-weight: bold;
//   border-radius: 2px;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
// }


// .btn-primary:hover {
//   background-color: #3367d6;
// }

// .btn-success {
//   background-color: #0f9d58;
// }

// .btn-success:hover {
//   background-color: #196c4a;
// }

// .btn-danger {
//   background-color: #db4437;
// }

// .btn-danger:hover {
//   background-color: #b04c3b;
// }

// .btn-group-vertical .btn {
//   margin-bottom: 10px;
// }

// .btn-group-vertical > .btn:first-child:not(:last-child) {
//   border-radius: 2px;
// }

// .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
//   border-radius: 2px;
// }

// .btn-group-vertical > .btn:last-child:not(:first-child) {
//   border-radius: 2px;
// }

// .btn-lg {
//   font-size: 14px;
// }

// .btn [class^='ion-'] {
//   margin-right: 5px;
// }