<div class="container space">

  <h2>Season 2016-2017 Movies <span *ngIf='movies' style="font-size: 20px;font-style: italic;">({{movies.length}})</span></h2> 
  <div class="row"> 
    <div class="col-xs-12">
      <div style="margin-bottom: 20px;">
        <label>Search: </label>
        <input [(ngModel)]="movieSearch" (keyup)="filterChanged($event)" placeholder="title">
      </div>
    </div>
  </div>    
  <div class="row">
    <!--Body content-->
    <div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">

      <spinner [isHidding]="movies"> </spinner>

      <ul class="movies" *ngIf='movies'>
        <li *ngFor="let movie of filteredMovies" (click)="gotoDetail(movie)" class="" style="height: 150px">
          <!--<div class="thumb"><img src="{{movie.img || 'assets/movie.jpg'}}" style="max-height: 120px; width: 80px;"></div>-->
          <img src="{{movie.img || 'assets/movie.jpg'}}" class="img-thumbnail img-position" style="">
          <div style="text-align:left;" class="">
            <span class="movie-title">{{movie.movieTitle  | uppercase}} </span>
            <p style="font-style:italic">{{movie.Runtime}} <br> {{movie.Genre}}</p>
          </div>
        </li>
      </ul>
    </div>
    <!--<div class="" *ngIf="results.length == 0">
              <strong>No movie found. Change filter.</strong>
    </div>-->
  </div>
</div>