<div [ngClass]="{'container': !inputMovieRef, 'space': !inputMovieRef}">

   <spinner [isHidding]="movie"> </spinner>

   <div *ngIf="movie">
      <h1>{{movie.movieTitle}}
      </h1> 
      <p *ngIf="movie.parentalRating">{{movie.Runtime}} <span> ({{movie.parentalRating}}) </span> </p>

      <!--<youtube-video *ngIf="movie.trailer" video-id="trailer" player-width="width" player-height="height"></youtube-video>-->
      <!--<youtube-player3 [playerId]='movie._id' [width]='playerWidth' [height]='playerHeight' [videoId]='movie.trailer'> </youtube-player3>-->
      <div *ngIf="movie.trailer">
       <youtube-player [playerId]='movie._id' [width]='playerWidth' [height]='playerHeight' [videoId]='movie.trailer'> </youtube-player>
      </div>
      <div>
        <a href={{amazonLink}} target="_blank">
              <img src="/assets/getItOnAmazon.png" class="" alt="movie.movieTitle - amazon">
        </a>
      </div>
      
      <p *ngIf="movie.Genre" style="margin-top:10px"><span class="cat"> Genre: </span> {{movie.Genre}}</p>
      <p *ngIf="movie.Plot"> <span class="cat"> Summary:  </span> <br> {{movie.Plot}}
      </p>

      <p *ngIf="movie.Released"> <span class="cat">Released: </span> {{movie.Released}}</p>
      <p *ngIf="movie.Director"> <span class="cat">Director: </span> {{movie.Director}}</p>
      <p *ngIf="movie.Writer"> <span class="cat">Writer:   </span> {{movie.Writer}}</p>
      <p *ngIf="movie.Actors"> <span class="cat">Actors:   </span> {{movie.Actors}}</p>
      <p *ngIf="movie.Country"> <span class="cat">Country:  </span> {{movie.Country}}</p>

      <br>
      <p *ngIf='listShows'> <span class="cat">Showing On: </span>
         <show-list [shows]='shows' [isLoaded]='shows' [reduceTpl]='true'> </show-list>
      </p>

      <!--<br>
      <p *ngIf="comments"> <span class="cat"> Reviews: </span>
         <comments [parentId]='movie._id' ></comments>
      </p>-->


   </div>
</div>