// @import 'bootstrap/scss/bootstrap.scss';

//Custom main Theme:
$purple: #83207d;  //rgba(131, 32, 125, 1)
//$purple-back-color: #ecf;
$purple-light: lighten($purple, 30%);
$md: 768px;

// $settings: (
//     maxWidth: 800px,
//     columns: 12,
//     margin: 15px,
//     breakpoints: (
//         xs: "(max-width : 480px)",
//         sm: "(max-width : 768px) and (min-width: 481px)",
//         md: "(max-width : 1024px)  and (min-width: 769px)",
//         lg: "(min-width : 1025px)"
//     )   
// );