/* app SASS stylesheet */
@import '_sassBase';

.loading {
    opacity: 0;
    transition: opacity 0s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // background: $purple;
    z-index: -1;
}

my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}
my-app:empty + .loading .loading-inner {
    color: $purple;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
}

.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: $purple;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: $purple;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: $purple;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: $purple;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}