.btn-primary2{color:white;background-color:#83207d;border-color:#83207d}.btn-primary2:hover{color:#fff;background-color:#5a1656;border-color:#3d0f3b}.btn-info2{color:white;background-color:#d963d2;border-color:#d963d2}.btn-info2:hover{color:#fff;background-color:#5a1656;border-color:#3d0f3b}.space{padding-top:60px}.display-none{display:none}.add-space{margin-top:30px}a.accordion-toggle{outline:none !important}
