/* app SASS stylesheet */
@import '_sassBase';

.btn-primary2 {
  color: white;
  background-color: $purple;
  border-color: $purple;
    
  &:hover{
    color: #fff;
    background-color: #5a1656;
    border-color: #3d0f3b;
  }
}

.btn-info2 {
  color: white;
  background-color: $purple-light;
  border-color: $purple-light;
    
  &:hover{
    color: #fff;
    background-color: #5a1656;
    border-color: #3d0f3b;
  }
}

//Utils
.space {
  padding-top: 60px;
}

.display-none{
   display: none
} 

.add-space{
  //margin-bottom:30px;
  margin-top:30px;

}

a.accordion-toggle {outline:none !important;}