<spinner [isHidding]='comments'>  </spinner>
<div *ngIf='comments' class="comment-wrapper">
   <div style="margin:10px 0px">
      <div class="input-group" *ngIf="!isAuthenticated()">
         <span class="input-group-btn btn-primary">
            <button class="btn btn-primary send-btn" type="button" (click)="login()">Login!</button>
         </span>

         <textarea class="form-control" rows="1" style="resize:none" readonly placeholder="Login and Join the discussion..." ></textarea> 
      </div>

      <div *ngIf="isAuthenticated()" class="input-group">
         <textarea autosize class="form-control" [(ngModel)]="newCommentText" placeholder="Review this movie..." > </textarea>
         
         <span class="input-group-btn btn-primary send-btn" >
            <button class="btn btn-primary send-btn" 
            style="margin-left:0px; height: 100%" 
            type="button" 
            (click)="addComment()"
            [disabled]='disabled(newCommentText)'>Send!</button>
         </span>
      </div>
   
   </div>
   <ul class = "comment-ul" *ngIf="comments.length !== 0">
      <li *ngFor="let comment of comments" class="comment-li">
         
         <div class="profile">
            <img src="{{comment.user.picture || 'assets/no_avatar2.png' }}" class="thumb" style="float:left;margin-right: 10px;">
            <div>
               <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{comment.user.displayName || "X"}} </span><br>
               <span style="color: rgb(189, 189, 189);"> {{timeAgo(comment.created)}} </span>
               <button *ngIf="isMe(comment.user._id) && !comment.isEdited" class="btn btn-xs comment-edit right" type="button" (click)="editComment(comment)"> {{btnEditText(comment)}}</button>
               <!--<button *ngIf="isMe(comment.user._id) && comment.isEdited" class="btn btn-xs comment-edit right" type="button" (click)="editComment(comment)"> save </button>-->
            </div>
            
         </div>
         <div *ngIf='!comment.isEdited' class="text">
            <span>{{comment.text}} </span>
         </div> 
            
         <div *ngIf="comment.isEdited" class="CommentsFooter">
            <textarea autosize [(ngModel)]="comment.newText" style="width:100%"> {{comment.newText}} </textarea>
            <button class="btn btn-xs comment-edit" type="button" (click)="editUpdate(comment)" > Save </button>
            <button class="btn btn-xs comment-edit" type="button" (click)="editClose(comment)" > Cancel</button>
            <button class="btn btn-xs comment-edit" type="button" (click)="editDelete(comment)" > Delete</button>
         </div>

         <div>Share</div>

      </li>
   </ul>
   <div class="row" *ngIf="comments.length == 0" style="-webkit-padding-start: 10px; padding: 6px 15px; margin-top: 15px;">
      <strong class="alert alert-info alertText"> Be the first to review this movie!</strong>
   </div>
</div>