@import '../../css/_sassBase';
 
.comment-wrapper {
  //margin: 10px
}

.comment-ul {
  list-style: none;
  -webkit-padding-start: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  li:last-child {
    border-bottom-width: 0px;
  }
}

.comment-li {
  min-height: 60px;
  display: block;
  border-bottom: solid 1px $purple-light;
  position: relative;
  padding: 5  0;
  
  .profile {
    height:55px;
  }

  img {
    max-height: 48px; 
    width: 48px; 
    border-radius: 10px
  }

  .text {
    padding-left:5;
  }
}

.comment-edit{
  border-width: 0px;
  border-color: rgba(128, 128, 128, 0.21);
  padding-top: 0px;
  padding-bottom: 0px;
  font-style: italic;
  font-weight: bold;
  background-color: white;
  color:rgba(128, 128, 128, 0.49);
  .right {
    float:right;
  }
  
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.send-btn{
  color: #fff;
  background-color: $purple;
  border-color: $purple;
  background-image: none;
}