<div class="container">
  <div class="row">
    <!-- <div class="center-form panel"> -->
    <div class="panel">
      <div class="panel-body">
        <button class="btn btn-block btn-lg btn-facebook" (click)="login('facebook')">
          <i class="fa fa-facebook adjust" aria-hidden="true"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-lg  btn-google-plus" (click)="login('google')">
          <i class="fa fa-google-plus adjust" aria-hidden="true"></i> Sign in with Google
        </button>
        
         <p class="text-center text-muted" style="margin-top:30px">
            <small>By Signing in, you agree to <a href="/disclaimer">terms & conditions</a> and <a href="/privacypolicy">privacy policy</a>
            </small></p>        

      </div>

    </div>
  </div>
</div>