.row{
  margin-top:70px;
}
.panel {
  max-width:500px;
  margin:auto;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
  margin-bottom: 20px;

  &:hover,focus{
    color: #fff;
    background-color: #294786;
  }
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;

  &:hover,focus{
    color: #fff;
    background-color: #cb3927;
  }
}

.adjust{
  font-size: 1.2em;
  margin-right: 5;
}