<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title"> Login </h4>
			</div>
			<div class="modal-body">
				<div *ngIf='!submitted'>
					<button class="btn btn-block btn-lg btn-facebook" (click)="login('facebook')">
            <i class="fa fa-facebook adjust" aria-hidden="true"></i> Sign in with Facebook
          </button>
					<button class="btn btn-block btn-lg  btn-google-plus" (click)="login('google')">
            <i class="fa fa-google-plus adjust" aria-hidden="true"></i> Sign in with Google
          </button>

					<p class="text-center text-muted" style="margin-top:30px">
						<small>By Signing in, you agree to <a href="/disclaimer">terms & conditions</a> and <a href="/privacypolicy">privacy policy</a>
              </small>
					</p>
				</div>

				<spinner [isHidding]="!submitted" [boxSize]="60" [text]='""' style="display:block"></spinner>
			</div>
		</div>
	</div>
</div>