<div class="container space">

  <spinner [isHidding]='user'></spinner>
  <accordion [closeOthers]="oneAtATime" *ngIf='user'>
    
    <accordion-group #group1 [isOpen]="status.isFirstOpen" class="title2" panelClass='panel-default'>        
      <!-- Details User -->
      <div accordion-heading class="title">
        My Details <i class="pull-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>
      </div>

      <div class='row'>
        <div class='col-xs-12 col-sm-6'>
          <img class="profile-picture" src="{{user.picture || 'http://placehold.it/100x100'}}" style="border-radius: 25px;">
        </div>
        <div class='col-xs-12 col-sm-6'>
          <label class="control-label"> Display Name:</label>
          <h4> {{user.displayName}}</h4>
          <label class="control-label" style='padding-top: 15px;'> Email Address:</label>
          <h4> {{user.email}}</h4>
        </div>
      </div>

      <!--<form method="post" >
          <div class="form-group">
            <img class="profile-picture" src="{{user.picture || 'http://placehold.it/100x100'}}" style="border-radius: 25px;">
          </div>
          <div class="form-group">
            <label class="control-label"> Display Name:</label>
            
            <h4> {{user.displayName}}</h4>

          </div>
          <div class="form-group">
            <label class="control-label"> Email Address:</label>
            <h4> {{user.email}}</h4>
            
          </div>
          
      </form>-->
    </accordion-group>

    <!-- Reviews -->
    <!--<accordion-group [isOpen]="status.open"> 
      <div accordion-heading>
         My Reviews  <i class="pull-right glyphicon" 
         [ngClass]="{'glyphicon-chevron-down': !group?.isOpen, 'glyphicon-chevron-right': group?.isOpen}"></i>
      </div>
    </accordion-group>-->
    
    <!-- Reminders -->
    <accordion-group #group [isOpen]="status.isSecondOpen" panelClass='panel-default add-space'> 
      <div accordion-heading>
         Active Reminders  <i class="pull-right glyphicon" 
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
      </div>

      <div class="">
        <ul  class = "reminder-ul" style="border: none;">
          <li *ngFor="let reminder of reminders" class="">
            <div class="row alert alert-info reminder-alert" style="">
              <div class="col-md-9">
                <strong style="color:#83207d">{{reminder.show.movieId.movieTitle}} </strong>
                <span style="font-style: italic;">- {{reminder.show.startDay | date: 'EEEE, d MMM, y'}} </span>
              </div>
              <div class="col-md-3">
                <button *ngIf="!submitted(reminder._id)" class="btn btn-danger pull-right" (click)="removeReminder(reminder._id)" role="button">Remove 
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <div *ngIf="submitted(reminder._id)" class="btn btn-danger pull-right">
                  <spinner [isHidding]="!submitted(reminder._id)" [boxSize]="20" [text]='"processing"' style="display:block" inButton="true" ></spinner>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div *ngIf='reminders.length === 0' class="row alert alert-info reminder-alert" style="">
          You have currently no reminders
        </div>
      </div>
    </accordion-group>

  </accordion>  
  
</div>