.title{
   a:focus {
    outline: none !important;
   }
}

.title2{
   a:focus {
    outline: none !important;
   }
}

.reminder-alert{
  margin: 5px; 
  padding: 10px 5px; 
  font-size: medium; 
  line-height: 2;
}

.reminder-ul {
  list-style: none;
  -webkit-padding-start: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  li:last-child {
    border-bottom-width: 0px;
  }
}

// .comment-li {
//   min-height: 60px;
//   display: block;
//   border-bottom: solid 1px $purple-light;
//   position: relative;
//   padding: 5  0;
// }